<!-- Start team Area -->
<section class="team-area section-gap" id="team">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">About Blogger Team</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-lg-6 team-left">
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that.
                </p>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women.
                </p>
            </div>
            <div class="col-lg-6 team-right d-flex justify-content-center">
                <div class="row active-team-carusel">
                    <div class="single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="/img/z3812695348165_ca16e7776a787a0495b993131e6272a6.jpg" alt="" style="height: 300px">
                        </div>
                        <div class="meta-text mt-30 text-center">
                            <h4>Linh Lisa</h4>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="/img/z3821623759426_ac1f2380845bc2a7d7573c729a99217c.jpg" alt="" style="height: 300px">
                        </div>
                        <div class="meta-text mt-30 text-center">
                            <h4>MaKaHa</h4>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="/img/z3831985614424_985986110412a243100dca4681a7c9f3.jpg" alt="" style="height: 300px">
                        </div>
                        <div class="meta-text mt-30 text-center">
                            <h4>A.Dao</h4>
                        </div>
                    </div>
                    <div class="single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="/img/z3798606390847_33bd73d25f2cf2220138d33450d978e6.jpg" alt="" style="height: 300px">
                        </div>
                        <div class="meta-text mt-30 text-center">
                            <h4>Ms.Cao</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End team Area -->